<nav class="my-navbar bg-color-primary">
    <h1 class="my-title">Finance App</h1>
    <div class="my-navbar-links">
        <ul>
            <li>
                <a class="nav-link" href="/index">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/input">Add Transaction</a>
            </li>
            <li>
                <a class="nav-link" href="/budgets">Budgets</a>
            </li>
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>