<html>

    <%- include("./partials/head.ejs") %>
    
    <body class="container d-flex flex-column align-items-center">
        
        <div class="log-reg-container">
            <h1>Login</h1>

            <% if(messages.error) { %>
                <%= messages.error %>
            <% } %>
            
            <form action="/login" method="POST" class="myForm">
                <div class="d-flex justify-content-sm-between">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="d-flex justify-content-sm-between">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="d-flex justify-content-sm-between">
                    <button type="submit" class="btn btn-success">Login</button>
                    <a href="/register" class="logReg-anchor">Register</a>
                </div>
            </form>
        </div>
        
    </body>
</html>